anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
decorator

fastapi
filelock
h11
idna
joblib
numpy
pandas
pydantic
python-dateutil
pytz
requests
requests-file
scikit-learn
scipy
six
sniffio
soupsieve
starlette
threadpoolctl
tldextract
typing_extensions
tzdata
urllib3
uvicorn
validators
whois
xgboost